@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root{
    --bs-primary: #0d172a;
    --bs-primary-rgb: 13, 23, 42;
    --bs-info-rgb:59, 135, 212;
    --bs-primary-border-subtle: #215e9e;
    --bs-primary-bg-subtle: transparent;
}
/* body{
    background-color: #0d172a;
} */
.portfolio{
  background: linear-gradient(90deg, #000B18 0%, #002B5C 50%, #004C91 100%);
  border: 1px solid #1A64B4;
  box-shadow: inset 0 0 10px rgba(0, 114, 206, 0.2);
   font-family: "Orbitron", sans-serif;
}
.navbar-brand{
    font-size: 25px;
}
.navbar-nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;

}
.navbar-dark{
    --bs-navbar-toggler-border-color: rgb(255 255 255 / 0%);
}
.about-sec h2,.about-content h2,.skills-sec h2,.project-heading,.what-i-do-title,.education h2,.exp-sec h2,.contact-sec h2{
    font-family: "Orbitron", sans-serif;
    text-shadow: 
    0 0 5px  rgba(0, 225, 255, 0.8),
    0 0 12px rgba(0, 225, 255, 0.5),
    0 0 25px rgba(0, 225, 255, 0.3),
    0 0 45px rgba(0, 225, 255, 0.15);
    color: #7dd3fc;
    font-size: 45px;
    font-weight: 800;
}
.my-img{
  border: 2px solid #00F6FF;
  box-shadow: 
    0 0 5px #00F6FF,
    0 0 15px #00F6FF,
    0 0 30px #00A8E8,
    inset 0 0 10px #00F6FF;
}
.read-more-btn,.send-message-btn{
    background: linear-gradient(180deg, #215caf 0%, #13263f 100%);
    border: 1px solid #266fa1;
}
.btn:hover{
    scale: 1.09;
}
.project{
    height: 90vh;
}
.project,.contact-info,footer{
    background: linear-gradient(180deg, #215caf78 0%, #13263f82 100%);
    /* height: 80vh; */
}
.project-title,.project-purpose,.tech-stack,.email,.location{
    box-shadow: 0 0 15px rgba(0, 210, 255, 0.35),
              0 0 30px rgba(0, 210, 255, 0.15);
    background-color: #0d265687;
}
.html,.html:hover{
    color: #FF5722;
    border-color: #FF5722;
    background-color: rgba(255, 87, 34, 0.15);
    box-shadow: 0 0 10px rgba(255, 87, 34, 0.4);
}

.css,.css:hover{
    color: #0091FF;
    border-color: #0091FF;
    background-color: rgba(0, 145, 255, 0.15);
    box-shadow: 0 0 10px rgba(0, 145, 255, 0.4);
}
.bootstrap,.bootstrap:hover{
    color: #A855F7;
    border-color: #A855F7;
    background-color: rgba(168, 85, 247, 0.15);
    box-shadow: 0 0 10px rgba(168, 85, 247, 0.4);
}
.carousel{
    box-shadow: 0 0 15px rgba(0, 210, 255, 0.35),
              0 0 30px rgba(0, 210, 255, 0.15);
}
.carousel-indicators [data-bs-target] {
    width: 15px;
    border-radius: 50%;
    height: 15px;

}
.education-content{
    background: linear-gradient(180deg, #215caf42 0%, #13263f63 100%);
}
.c,.c:hover{
    color: #FF4D4D;
    border-color: #FF4D4D;
    box-shadow: 0 0 10px rgba(255, 77, 77, 0.6);
}
.web,.web:hover{
    color: #00FF88;
    border-color: #00FF88;
    box-shadow: 0 0 10px rgba(0, 255, 136, 0.6);
}
.cpp,.cpp:hover{
    color: #00E5FF;
    border-color: #00E5FF;
    box-shadow: 0 0 10px rgba(0, 229, 255, 0.6);
}
.python,.python:hover{
    color: #FF5722;
    border-color: #FF5722;
    box-shadow: 0 0 10px rgba(255, 87, 34, 0.6);
}
.card{
    --bs-card-bg:var(--bs-primary);
}
.icon{
    font-size: 50px;
}
.what-i-do{
    background: linear-gradient(180deg, #215caf78 0%, #13263f82 100%);
}
.accordion {
    /* --bs-accordion-color: var(--bs-body-color); */
    --bs-accordion-bg:#111d355c;
    box-shadow: 0 0 15px rgba(0, 210, 255, 0.35),
              0 0 30px rgba(0, 210, 255, 0.15);
    border-radius: 20px;
    border-color: rgba(0, 210, 255, 0.25);
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
.form-control{
    background-color: transparent;
}
.form-control:focus {
    background-color:transparent;
    box-shadow: 0 0 15px rgba(0, 210, 255, 0.35),
              0 0 30px rgba(0, 210, 255, 0.15);
}