@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

/*root*/
:root{
	--primary-color:#1BBC9B;
	--white:#fff;
	--black:#000;
	--cyan:#14B9D5;
	--desc-color:#6e6e6e;
	--purple:#BA71DA;
}

.col-1{width:8.33%;}
.col-2{width:16.67%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.67%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.67;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.67%;}
.col-12{width:100%;}

.container{width: 1320px;margin: auto;}
.flex{
	display: flex;
	flex-wrap: wrap;
}
.justify-center{justify-content: center;}
.justify-between{justify-content: space-between;}
.justify-around{justify-content: space-around;}
.justify-evenly{
	justify-content: space-evenly;
}
.align-center{align-items:center;}
.justify-end{justify-content: end;}
.gap-25{
	gap: 25px;
}
.gap-10{
	gap: 10px;
}
.text-center{
	text-align: center;
}
.p-x-8{
	padding: 0 8px;
}

img{
	width: 100%;
}
/*header section*/
header{
	background-color: #F3F3F3;
}
.nav-bar{
	padding: 25px 0;
}
.colon{
	color: var(--primary-color);
	font-weight: 700;
}
nav ul li:hover{
	color: var(--primary-color);
	cursor: pointer;
}
.srch-btn button,.hero-btn,.trip-content button,.detail-btn button,.service-btn button,.package-btn button,.popular-btn button,.discover-btn button,.vacation-btn button,.contact button{
	padding: 5px 30px;
    font-size: 14px;
    /*margin-left: 15px;*/
    border-radius: 8px;
    background-color:var(--primary-color) ;
    color: var(--white);
    border:none;
}
.srch-btn{
	padding-left:10%;
	margin-left: 15px;
	font-size: 18px;
}
.srch-btn span{
	font-size: 25px;
}


/*hero section*/
.hero-sec{
	background-image: url('../images/hero-bg.png');
	background-position: center;
	background-size: cover;
	height: 100vh;
	position: relative;
	z-index: -1;
}
.hero-sec:before{
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #F2F2F2;
	opacity: 0.92;
	z-index: -1;
}
.hero-content{
	margin-left: 29%;
	padding-top: 20%;
}
.hero-content p{
	color: #979191;
	line-height: 27px;
}
.hero-content h1{
	font-size: 60px;
    line-height:1.3;
}
.hero-card,.choose-trip-card{
	background-color: var(--white);
	border-radius: 10px;
	box-shadow: 10px 10px 20px #0000004f;
	padding: 15px 0;
	margin-top: 5%;
}
.icon{
	font-size: 24px;
    font-weight: 900;
    color: var(--cyan);
}
.search{
	padding: 0 5px;
}
.content{
	font-size: 15px;
}
.content p:first-child{
	font-weight: 700;
}
.content p:last-child{
	color: #757575;
}
.hero-btn{
	margin: auto;
}
/*trip plan section*/
.planning{
	position: relative;
}
.trip-bg img{
	width: 45%;
	position: absolute;
	top: 0px;
	right: 0;
	opacity: 0.2;
	z-index: -1;
}
.trip-planning{
	margin: 10% 0 5% 0;
}

.trip-content p:first-child,.choose-trip-content p:first-child,.adven-content p:first-child,.service-content p:first-child,.travel-content p:first-child,.discover-content P:first-child,.blog-content p:first-child{
	font-family: "Reenie Beanie", cursive;
	color: var(--primary-color);
	font-size: 25px;
}
.trip-content h2,.choose-trip-content h2,.adven-content h2,.service-content h2,.exp-content h2,.travel-content h2,.discover-content h2,.blog-content h2{
	font-size: 34px;
	margin: 10px 0;
}
.trip-content p,.choose-trip-content p,.adven-content p,.service-content p,.exp-content p,.travel-content p,.discover-content p,.blog-content p,.vacation-content p{
	font-size: 11px;
	line-height: 1.8;
	margin-bottom: 10px;
	color: var(--desc-color);
}
.trip-content button{
	border-radius: 5px;
}
.city-tour{
	background-image: url('../images/walk-tour.png');
}
.e-bike{
	background-image: url('../images/electric-bike.jpg');
}
.skyscraper{
	background-image: url('../images/skyscraper.jpg');
}
.city-tour img,.e-bike img,.skyscraper img{
	width:20%;
}
.city-tour,.e-bike,.skyscraper{
	background-size: cover;
	background-position: right;
	padding: 20px 0;
	border-radius: 10px;
}
.city-tour p,.e-bike p,.skyscraper p{
	color: var(--white);
	font-weight: 700;
	font-size: 20px;
}
.places{
	margin: 5% 0;
}
/*.place-1{
	border-radius: 10px;
	overflow: hidden;
}*/
.image-frame{
	width: 100%;
	aspect-ratio: 3/2;
	overflow: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.place-content{
	background-color: var(--white);
	box-shadow: 4px 4px 12px #74656533;
	padding-top: 13px;
	padding-bottom: 15px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}
.duration{
	background-color: var(--white);
	box-shadow: 4px 4px 12px #746565a6;
	padding: 8px 10px;
	border-radius: 5px;
	margin: 0 15px;
}
.duration p{
	font-size: 14px;
	color: var(--desc-color);
	font-weight: 500;
}
.place-1 span{
	color: var(--primary-color);
}
.place-2 span{
	color: var(--cyan);
}
.place-3 span{
	color: var(--purple);
}
.place-name{
	margin: 20px 15px 15px 10px;
	line-height: 1.7;
}
.place-name p span{
	font-size: 21px;
}
.place-name p{
	color: var(--desc-color);
	font-size: 15px;
	font-weight: 400;
}
.place-desc{
	border-bottom: 2px solid #6e6e6e30 ;
	border-top: 2px solid #6e6e6e30 ;
	font-size: 13px;
	margin: 10px 15px;
	padding: 15px 0;
	color: var(--desc-color);
	font-weight: 400;
	line-height: 20px;
}
.price{
	margin: 25px 15px 0 0;
}
.detail-btn button{
	padding: 7px 25px;
	font-weight: 500;
	border-radius: 5px;
}
.start-price p{
	text-align: end;
	color: var(--desc-color);
}
.start-price h3{
	font-size: 25px;
}
.start-price p s{
	font-weight: 700;
	font-size: 14px;
}
.place-2 button{
	background-color: var(--cyan);
}
.place-3 button{
	background-color: var(--purple);
}
/*end planning section*/
/*choose-trip-section*/
.choose-trip{
	background-color:#F2F2F2;
	padding: 70px 0;
	margin-bottom: 20px;
}
.choose-trip-content h2{
	font-size: 31px;
}
.choose-trip-content p{
	font-size: 12px;
}
.choose-trip-card span{
	color: #F3A66E;
}
.choose-trip-card button{
	background-color: #F76570;
}
/*end choose-trip section*/
/*adventure section*/
.adven-content{
	margin: 70px 0 50px 0;
}
.adven-card{
	aspect-ratio:10/12;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	margin: 0 0 50px 0;
}
.adven-card img{
	height: 100%;
	object-fit: cover;
}
.adven-desc{
	position: absolute;
	bottom: 10px;
	color: var(--white);
	padding: 0 15px;
}
/*end adventure section*/
/*service section*/

.services-bg{
	background: linear-gradient(to right, rgba(67, 74, 84, 0),rgba(0, 0, 0, 1));

}
.services,.service-content p:first-child,.service-content p{
	color: var(--white);
}
.service-img{
	background-color: pink;
	overflow: hidden;
	object-fit: cover;
	aspect-ratio: 3/3;
	margin: 25% 0 13% 0;

}
.service-img img{
	height: 100%;
}
.service-content{
	margin: 15% 0 0 0;
}

.benefit-point {
	border-bottom: 1px solid #ffffff3d;
	padding: 20px 0;
	font-size: 15px;
	font-weight: 400;
}

.benefit div:last-child{
	border: none;
}
.service-btn button{
	padding: 7px 15px;
	margin: 20px 0;
}
/*end of service section*/
/*Travel Itineraries section*/

.Itineraries-title h2{
	font-size: 65px;
    font-weight: 700;
    margin: 10% 0 2% 0;
}
.Itineraries-video iframe{
	width: 100%;
	aspect-ratio: 6/3;
}
.Itineraries-logo{
	margin-bottom: 5%;
}
/*end Travel Itineraries section*/
/*experience section*/
.experience{
	padding-bottom: 7%;
}
.exp-section{
	background: linear-gradient(to right,#0000009e, rgba(67, 74, 84, 0));
}
.exp-content{
	padding: 15% 0 5% 0;
}
.exp-content h2{
	color: var(--white);
}
.exp-content p{
	color: var(--white);
	font-size: 14px;
	font-weight: 300;
}
.exp-card{
	padding: 0 3% 0 0;
}

.card-content{
	padding: 35px 25px 35px 25px;
	background-color: var(--primary-color);
	border-radius: 10px;
}
.card-content p{
	color: var(--white);
	font-size: 17px;
	font-weight: 200;
}
.profile{
	margin: 20px 0 0 0;
}

.exp-profile img{
	border-radius: 100%;
}
.profile-content p:first-child{
	font-size: 14px;
	font-weight: 500;
}
.profile-content p:last-child{
	font-size: 12px;
	font-weight: 300;
}
/*end of experience section*/
/*travel packages section*/

.travel-packages{
	margin: 7% 0;
}
.packages{
	margin-top: 3% ;
}
.package-1,.package-2,.package-3{
	background-color: #F2F2F2;
	padding: 20% 0;
	border-radius: 10px;
}
.package-title h2{
	font-size: 50px;
}
.package-title span{
	font-size: 14px;
}
.package-content{
	margin: 10px 0;
	color: var(--desc-color);
	font-size: 14px;
	line-height: 2;
	word-spacing: 2px;
}
.package-btn button{
	padding: 5px 15px;
}
.package-2{
	background-color: var(--primary-color);
	padding: 27% 0;
}
.package-2 .package-title,.package-3 .package-title{
	color: var(--white);
}
.package-2 .package-content,.package-3 .package-content{
	color: var(--white);
}
.package-2 .package-btn button{
	background-color: #434A54;
}
.package-3{
	background-color: #434A54;
	position: relative;
}
.popular-btn{
	position: absolute;
	top: 0;
	right: 0;
}
.popular-btn button{
	margin: 10px;
	padding: 5px 15px;
}
.note{
	color: var(--desc-color);
	font-size: 14px;
	margin-top: 10px;
}
/*end of travel packages section*/
/*discover section*/
.discover{
	margin: 7% 0;
}
.discover-bar p{
	font-size: 13px;
	color: var(--desc-color);
	border-bottom: 4px solid #6e6e6e24;
	padding: 15px 0;
	font-weight: 400;
}
.discover-bar{
	margin-bottom: 8%;
	position: relative;
}

.discover-bar::after{
	content: "";
	width: 70%;
	height: 4px;
	background-color: var(--desc-color);
	position: absolute;
	bottom: 0;
}
.discover-bar::before{
	content: "";
	width: 85%;
	height: 4px;
	background-color: var(--desc-color);
	position: absolute;
	bottom: 54px;
}
.discover-btn button{
	padding: 6px 17px;
}

/*end of discover section*/
/* travel blog section */
.travel{
	margin: 7% 0;
}
.blog-info{
	padding-top: 50px;
}
.vacation-img img{
	border-radius: 15px;
}
.vacation-content button,.points button{
	background-color: #434A54;
	color: var(--white);
	padding: 0 10px;
	font-weight: 500;
	font-size: 13px;
	border-radius: 5px;
	margin: 10px 0 15px 0;
	border: none;
}
.vacation-content h3{
	font-size: 23px;
}
.vacation-content p{
	padding: 15px 0 15px 0;
}
.vacation-btn button{
	padding: 6px 25px;
	border-radius: 7px;
}
.points button{
	background-color: var(--primary-color);
}
.points p{
	color: var(--desc-color);
	font-weight: 400;
	padding-top: 10px;
}
/*end of travel blog section*/
/*footer*/
footer{
	background-image: url(../images/footer-banner.jpg);
	background-size: cover;
	background-position: center;
	padding: 8% 0;
	position: relative;
	z-index: 1;
}

footer::before{
	content: "";
	background-color: var(--black);
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.5;
	top:0;
	z-index: -1;
}

.footer-title h2{
	font-size: 50px;
	font-weight: 800;
	color: var(--white);
}
.address{
	color: var(--white);
}
.address-info p:first-child{
	font-weight: 600;
	font-size: 20px;
}
.address-info{
	line-height: 2.5;
}
.footer-icon{
	font-size: 20px;
	font-weight: 400;
	padding: 10px 0;
}
.contact{
	color: var(--white);
	line-height: 2.8;
}
.contact p:first-child{
	font-size: 20px;
	font-weight: 600;
}
.contact button{
	padding: 6px 17px;
	border-radius: 5px;
}
.contact p:last-child{
	font-size: 25px;
	font-weight: 600;
}