@media(max-width:575px){

	.hero-content-xs p{
		left: 155px;
	}
	.hero-content-2-xs{
		padding: 38px 0;
	}
	.offer-xs p{
		left: 184px;
	}
	.hero-sec-3-xs{
		padding: 22px 0;
	}
	.promise-content-xs h2{
		font-size: 35px;
        margin: 10px 0 18px 0;
	}
	.best-in-title-xs h2{
		font-size: 24px;
	}
	.best-in-service-time-xs{
		margin-top: 50px;
		text-align: center;
	}
	.add-to-cart-xs button {
		padding: 10px 45px;
		margin: 25px 108px;
	}
}

@media(min-width:576px){

	.hero-content p {
		left: 158px;
	}
	.offer-s p{
		left: 185px;
	}
	.hero-sec-3-s{
		padding: 22px 0;
	}
	.hero-content-2-s {
   		padding: 40px 0;
	}

	.promise-content-s h2{
		font-size: 35px;
		margin: 10px 0 18px 0;
	}
	.best-in-title-s h2{
		font-size: 24px;
	}
	.best-in-service-time-s{
		margin-top: 50px;
		text-align: center;
	}
	.add-to-cart-s button {
		padding: 10px 45px;
		margin: 25px 108px;
	}
	

}

@media(min-width:768px){


	.hero-content-m p {
		left: 0;
        right: 0px;
    }
	.hero-content-2-m{
		padding: 50px;
	}
	.hero-sec-3-m {
        padding: 65px 92px;
    }
	.promise-img-m img{
		width: 115%;
	}
	.promise-content-m h2{
		font-size: 35px;
	}
	.promise-content-m p{
		font-size: 13px;
	}
	.best-in-title-m h2{
		font-size: 32px;
	}
	.best-in-service-form-m{
		padding: 50px;
    	margin: 22px;
	}
	.add-to-cart-m button{
		margin: 25px 150px;
	}
}

@media(min-width:992px){

	.nav-bar-lg ul li{
		font-size: 14px;
	}

	.logo-img-lg{
		width: 25%;
	}
	.dog-lg{
		top: 12px;
	}
	.girl-1-lg{
		top: 163px;
    	left: -32px;
	}
	.cat-img-lg .cat-lg{
		top: 184px;
		right: 263px;
	}
	.girl-2-lg{
		top: 180px;
	}
	.hero-content-2-lg h1{
		font-size: 71px;
	}
	.slide-2-lg{
		width: 87%;
		margin: 80px 0;
	}
	.offer-lg p{
		left: 84px;
	}
	.hero-content-3-lg h1{
		font-size: 56px;
	}
	.slide-3-dog-lg{
		width: 71%;
	}
	.hero-img-3-lg{
		/* height: 84%; */
		width: 100%;
		/* padding: 31px; */
		/* background-color: #D3CFA7; */
		margin: 41px 0;
	}
	.hero-img-3-lg::after {
		content: "";
		/* border: 2px dashed #d3cfa7; */
		/* position: absolute; */
		left: -13px;
        top: 25px;
        height: 89%;
        width: 107%;
		/* border-radius: 50%; */
		/* padding: 40px 0; */
	}

	.promise-content-lg h2{
		font-size: 47px;
	}
	.promise-content-lg p{
		font-size: 15px;
	}
	.best-in-service-time-lg{
		margin-top: 0;
	}
	.best-in-service-time-lg h2,.best-in-service-form-lg h4{
		font-size: 20px;
	}
	.best-in-service-time-lg p{
		font-size: 13px;
		line-height: 0.3;
	}
	.best-in-service-form-lg{
		margin: 0;
		padding: 0 5px;
	}
	.add-to-cart-lg button{
		font-size: 15px;
		margin: 6px 122px;
	}

}

@media(min-width:1200px){

	.nav-bar-xl ul li{
		font-size: 17px;
	}

	.logo-img-xl{
		width: 100%;
	}
	.dog-xl{
		top: -15px;
	}
	.cat-img-xl .cat-xl{
		top: 192px;
		right: 283px;
	}
	.hero-content-xl h1{
		font-size: 73px;
		padding-left: 9px;
		letter-spacing: 3px;
	}

	.promise-content-xl h2{
		font-size: 52px;
	}
	.promise-content-xl p{
		font-size: 17px;
	}
	.best-in-title-xl h2{
		font-size: 40px;
	}
	.best-in-service-form-xl h4{
		font-size: 24px;
	}
	.add-to-cart-xl button{
		margin: 25px 135px;
	}

}

@media(min-width:1400px){


}