@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    font-family: "Fredoka", sans-serif;
}

:root, [data-bs-theme=light]{
    --bs-primary: #FF642E;
	--bs-primary-rgb: 255, 100, 46;
    --bg-desc:#f3f1f1a8;
}

/* .burger-menu {
    border-color: transparent;
    background-color: transparent;
} */
.burger-menu:hover{
    background-color: white;
    border: transparent;
}

.offcanvas.offcanvas-start{
    width: 45%;
}
.link-primary:focus, .link-primary:hover {
    color: RGBA(255,100,46, var(--bs-link-opacity, 1)) !important;
}
.hero-banner{
    background-color:#ff805461 ;
}
.hero-sec,.hero-sec-2,.hero-sec-3{
    height: 80vh;
}
.hero-sec{
    background-color:#ff4909ba;
    padding: 60px 0;
}
.hero-content{
    padding: 53px 0 50px 42px;
}
/* .hero-content h1,.hero-content-2 h1{
    font-size: 81px;
    letter-spacing: 3px;
} */
.hero-content p{
    top: 23px;
    left: 63px;
}
.dog{
    bottom: -60px;
    right: 66px;
}
.cat-img .girl-1{
    bottom: -45px;
}
.cat-img .girl-2{
    bottom: -165px;
    width: 27%;
    right: 192px;
}
.cat-img .cat {
    bottom: -98px;
    width: 40%;
    right: 312px;
}
/* .bg-oval{
    height: 80px;
} */
.slide-2-cat{
    width: 80%;
}
.hero-sec-2{
    background-color: #F4EDE6;
    padding: 11px 0;
}
.hero-content-2{
    padding: 129px 0 50px 42px;
}
.hero-img-3{
    height: 80%;
    width: 80%;
    padding: 40px 0;
    background-color: #D3CFA7;
}
.hero-sec-3{
    background-color: #F0ECCD;
    padding: 40px 0 40px 30px;
}
.offer p{
    top: 15px;
    left: 60px;
}
.hero-conten-3 h1{
    font-size: 70px;
    /* padding-left: 30px; */
}
.hero-img-3::after {
    content: "";
    border: 2px dashed #d3cfa7;
    position: absolute;
    left: -8px;
    top: -12px;
    height: 105%;
    width: 83%;
    border-radius: 50%;
    padding: 40px 0;
}
.our-promise{
    margin: 80px 0;
}
.best-in-title img{
    right: -38px;
    bottom: 0px;
}

.best-in-sub-content{
    padding: 25px;
    border-radius: 25px;
    margin:  30px;
    background-color: #FEE0C6;
    transition: transform 0.3s ease-in-out;
}
/* .day-care-img img{
    margin: 31px 0;
} */
.btn:hover {
  transform: scale(1.1); /* Increases size by 20% */
  background-color: #fed000ab;
}

.btn-outline-primary {
    --bs-btn-active-bg: #fed000ab;
}
.best-in-service-form{
    background-color: var(--bg-desc);
    padding: 20px;
}
.day-care-option p,.date-picker label{
    margin-bottom: 5px;
    font-size: 13px;
}
.form-control{
    padding: .75rem;
}
.add-to-cart button{
    padding: 10px 70px;
    margin: 25px 108px;
}
.card-1,.card-2,.card-3{
    background-color: #FFE1CF;
    padding: 45px 0;
    margin-bottom: 100px;
}
.card-2{
    background-color: #E9F6FB;
}
.card-3{
    background-color: #CFEDCF;
    padding: 40px 0;
}
.accordion-button:focus {
    
    box-shadow: 0 0 0 0.25rem transparent;
}
.accordion-button:not(.collapsed) {
    /* color: var(--bs-accordion-active-color); */
    background-color:transparent;
    /* box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color); */
}
.coach-3{
    border: 2px solid #C3C3E9;
}
.card{
    height: 60vh;
}
.offer-card .card{
    height: 55vh;
}