:root, [data-bs-theme=light]{
    --bs-primary: #FF642E;
	--bs-primary-rgb: 255, 100, 46;
}

.link-primary:focus, .link-primary:hover {
    color: RGBA(255,100,46, var(--bs-link-opacity, 1)) !important;
}